
.modal-container{
    width: 100%;
    height: 50%;
    background-color:#3e4047;
    position: absolute;
    top: 0;
    border-radius: 3px;
}

.modal-options{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #414349;
    
}

.modal-options:hover{
    background-color: #5d6069;
}

.modal-edit{
    width: 100%;
    height: 50%;
}


.modal-remove{
    width: 100%;
    height: 50%;
}

.modal-edit-container{
    float: right;
}
