.weather-container{
    min-width: 10vw;
    min-height: 10vh;
    /* max-width: 20vw;
    max-height: 20vh; */
    background-color: #2B2F3A;

    border-radius: 20px;
    padding: 2vw;
    display: flex;
    /* justify-content: center;
    align-items: center; */
}

.weather-text{
    color: #828699;
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(1rem,2.8vw,5rem);
}


.flexOne{
    width: 50%;
    padding: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock{
    border-right: 1px solid #828699;
}