@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

.profile-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 10vw;
    min-height: 10vh;

    padding: 1vw 2vw 1vw 1vw;
    /* max-width: 20vw;
    max-height: 20vh; */
    background-color: #2B2F3A;

    border-radius: 20px;


}

/* .profile-container:hover {
    filter: brightness(105%) ;
    box-shadow: 5px 10px 18px #1b1d24;
} */

.profile-text{
    color: #828699;
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(1rem,2.8vw,5rem);
}